div.scroll{
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* .diff1 {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center; */
  /* } */
  .diff2 {
    grid-gap: 2rem;
    display: grid;
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }