.searchbar-box-help {
  display: flex;
  border: 1px solid var(--primary-color-2);
  box-shadow: 0px 4px 0px var(--primary-color-2);
  border-radius: 30px;
  height: 33px;
  width: 350px;
  margin-bottom: 7px;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.parent {
  justify-content: space-between;
}
.div1 {
  float: left;
  width: 50%;
}
.div2 {
  float: right;
  width: 50%;
}

.div11 {
  float: left;
  width: 50%;
}
.div22 {
  float: right;
  width: 50%;
}
.help2 h2 {
  font-size: 3.8rem;
  padding: 1.5rem 0 1rem 0;
  font-weight: 400;
}
.help {
  border-left: 2px solid var(--primary-color);
}
.help2 p {
  font-size: 1.2rem;
  font-weight: 200;
  word-break: break-word;
  /* margin: 1rem 0rem 1rem 0rem; */
}
.help2 h4 {
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem 0rem 1rem 0rem;
}
.parent h4 p {
  margin: 1rem 0rem 1rem 0rem;
}
.search-bar-NC {
  background-color: var(--secondary-color);
}

.close-btn svg {
  position: static;
  margin: 0rem 0rem -0.4rem 7rem;
  width: 2.4rem;
  height: 3rem;
  border-radius: 9.1rem;
  border: 1px solid var(--secondary-color);
  fill: var(--primary-color-2);
}
.close-btn svg {
  fill: var(--primary-color-2);
}
.help {
  display: flex;
  background-color: var(--secondary-color);
  position: absolute;
  top: 9rem;
  width: 45rem;
  height: 75vh;
  box-sizing: border-box;
  transition: top 0.5s ease-out;
  flex-direction: column;
  color: var(--primary-color);
  right: 0;
  z-index: 1;
  word-break: break-all;
  border: 2px solid var(--primary-color-2);
  border-right: none;
  border-top: none;
  overflow-x: hidden;
  overflow-y: scroll;
}
.help::-webkit-scrollbar {
  width: 6px;
}

.help::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-2);
  /* outline: 1px solid var(--primary-color-1); */
}

.sideNavSection::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-2);
  /* outline: 1px solid var(--primary-color-1); */
}

.sideNavSection::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-2);
  /* outline: 1px solid var(--primary-color-1); */
}
.help2 {
  padding-left: 1rem;
}
hr {
  color: var(--primary-color);
  border-top-width: 1px;
  border: 1px solid var(--primary-color-2);
}
.drawer_search_icon svg {
  height: 2.2rem;
  width: 2.2rem;
  color: var(--primary-color-2);
  margin: 5px 17px 0px 0px;
}
.indicator_search {
  font-size: 1.8rem;
  font-weight: 400;
}
.indicator-search-text {
  padding-top: 40rem;
  font-size: 1.2rem;
  word-break: break-word;
}
.AND {
  margin: 1rem 0rem;
}
.AND-1 {
  margin: 1rem 0rem;
}
.drawer-search {
  margin: 0rem 0.7rem 0rem 0.7rem;
}
