footer{
box-sizing: border-box;
position: absolute;
width: 100vw;
height: 70px;
/* left: calc(50% - 1440px/2); */
bottom: 0px;
background: #010101;
border: 2px solid;
z-index: 1
;
}

footer:hover{
border: 2px solid #00F0FF;
}
.logo-footer{
    position: absolute;
    height: 50px;
    justify-content: center;
    left: 10%;
    right: 0%;
    bottom: 10%;
}



.vector{
    position: absolute;
left: 25%;
right: 6.25%;
top: 35%;
}
.siql{
position: absolute;
left: 30%;
right: 6.25%;
top: 33%;
}
.right{
position: absolute;
left: 35%;
right: 6.25%;
top: 33%;
}
.right{
position: absolute;
left: 35%;
right: 6.25%;
top: 33%;
}
.right{
position: absolute;
left: 35%;
right: 6.25%;
top: 33%;
}
.right{
position: absolute;
left: 35%;
right: 6.25%;
top: 33%;
}
.right{
position: absolute;
left: 35%;
right: 6.25%;
top: 33%;
/* bottom: 25%; */

/* background: #00FFFF; */
}