@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

html{
    --primary-color: #1E1E1E;
    --secondary-color: #ffffff;

    /* for rem value */
    font-size: 62.5%;
}

@media screen and (max-width: 800px) {
    html{
        font-size: 50%;
    }
  }
    
  @media screen and (max-width: 500px) {
    html{
        font-size: 35%;
    }
  }

html, button{
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}

body{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 1rem;
    font-family: 'Hammersmith One';
    box-sizing: border-box;
}
.App{
    height: 100vh;
    width: 100vw;
}
.form{
    display: flex;
    flex-direction: column;
  
    margin: 12rem 2rem 0rem 20rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 2.5rem ;

}
.logo img{
    height: 4rem;
    top: 1rem;
}


.App {
    display: flex;
    justify-content: space-between;
}

.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem;
    height: 3rem;
    font-size: 1.5rem;
    color: white;
    background: #1E1E1E;
    border-radius: 1.4rem;
    border: 1px solid white;
    margin-top: 0;
    filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.6));
    margin-bottom: 1.5rem;
}

.login-button:focus{
    transform: translateY(1px);
    filter: none;
}

.login-svg{
    height: 1.5rem;
    width: 1.8rem;
    display: flex;
    justify-content: center;
    margin-left: 0.5rem;
}

.login-animation{
    animation: loading 3s linear 0s infinite;
}

.check-mark{
    height: 1.7rem;
    width: 2rem;
    display: none;
    transform: rotate(0.02turn);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
  
.theme-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 5px 0px #00FFFF);
    transition: filter 0.3s cubic-bezier(0, 0.74, 0.58, 1), margin 0.3s cubic-bezier(0.45, 0.01, 0.58, 1);
    margin-left: 34rem;
}

.theme-toggle:hover{
    filter: none;
    transform: translateY(1px);
}

label {
    display: flex;
    width: 8rem;
    height: 3rem;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px;
    border-radius: 5rem;
    cursor: pointer;
    position: relative;
    border: inset 1px solid #DEE5F3;
    background-image: url('../images/day.png');
    background-size: cover;
  }

  label i {
    font-size: 1.8rem;
  }
  label .fa-sun {
    transition: 0.8s;
    padding-top: 0.5rem;
  }
  label .fa-moon {
    color: #fff;
    transition: 0.8s;
    padding-top: 0.5rem;
  }
  label .fa-moon svg {
    height: 2.6rem;
    width: 2.6rem;
  }
  label .fa-sun svg {
    height: 2.6rem;
    width: 2.6rem;
  }
  label .fa-moon svg > * {
    fill: white;
    stroke: white;
  }
  label .fa-sun svg > * {
    fill: #FFC187;
    stroke: #FFC187;
  }
  label .ball {
    display: none;
  }

  label .fa-sun {
    opacity: 1;
  }

  input:checked + label .fa-sun {
    opacity: 0;
  }

  label .fa-moon {
    opacity: 0;
  }
  input:checked + label .fa-moon {
    opacity: 1;
  }

  input:checked + label .fa-sun {
    transform: translateX(40px);
  }
  input:checked + label .fa-moon {
    transform: translateX(40px);
  }
  
  #switch{
    display: none;
  }

  label .fa-moon {
    transform: translateX(-43px);
  }
  input:checked + label .fa-moon {
    transform: translateX(0);
  }

.welcome-back{
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2.5rem;
}
 .login-credentials-heading{
    color: rgba(43, 43, 43, 0.5);
    font-weight: 200;
   
 }
 
 .input{
    border-radius: 1rem;
    height: 3.5rem;
    width: 30rem;
    color: rgba(43, 43, 43, 0.4);
    text-align: start;
    border: 2px solid  rgba(43, 43, 43, 0.146);
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 200;

 }
 .input-2{
    padding-top: 1.2rem;
 }
.email-address ,
 .password{
margin-top: 3rem;
}
.login-checkbox{
    margin: 2rem 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
} 
.remember-checkbox{
   margin-bottom: -5px;
 
}
.remember-me{
    padding: 5px;
    font-size: 1.2rem;
}
.forgot-password{
    /* margin-left: 12rem; */
    font-size: 1.2rem;
    font-weight: lighter;
}
.contact-us{
    margin: 1.8rem;
    text-align: center;
    margin-left: -5rem;
    color: rgba(128, 128, 128);
    font-size: 1.2rem;
}
.contact-us a{
    text-decoration: none;
    color: rgba(128, 128, 128);
}

.user-img{
    margin-top: 2rem;
    height: 95%;
    width: 50%;
    justify-content: flex-end;

}

.user-image{
    height: 100%;
    width: 100%;
}
.footer{
    font-size: 1.6rem;
    font-weight:lighter;
    margin:7rem ;
    margin-left: 3rem;
}
/* Animation */
@keyframes loading {
    0% { transform: rotate(0turn)}
   25% {transform: rotate(0.25turn)}
   50% {transform: rotate(0.5turn)}
   75% {transform: rotate(0.75turn)}
   100% {transform: rotate(1turn)}
  }



.ForgotPassword{
  font-size: 4rem;
  margin-bottom: 2rem;

}