.case_cards {
  height: 150px;
  width: 300px;
  border: 2px solid var(--primary-color);
  border-radius: 8px;
  margin: 4.5rem 0rem 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-container{
  display: flex;
}

.case_cards:hover {
  background: url(../images/case-card.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--primary-color);
  border-style: solid;
  border-image: linear-gradient(to right, #00f0ff, #ff1cf7) 2;
  cursor: pointer;
}
/* path:hover{
    fill: #fff;
} */

/* .case_arrow:hover {
    fill: #fff;
} */

.hover-img {
  overflow: scroll;
  object-fit: contain;
  z-index: -1;
}

.case_title_home {
  font-size: 4.4rem;
  width: 50px;
  margin-left: 20px;
  /* height: 100%; */
  z-index: 1;
  line-height: 4rem;
  font-weight: 400;
}

.case_arrow {
  margin-right: 10px;
}
.case_arrow path {
  fill: var(--primary-color);
}
.noti-data h2 {
  padding: 2rem 0rem 1.5rem 2rem;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.logout-bn {
  display: flex;
  padding: 3.5rem 0rem 0rem 13rem;
  align-items: center;
  gap: 0.75rem;
}
.search-analysis{
  margin: 4rem 0rem 0rem 3rem;
  width: 75%;
  border: 2px solid var(--primary-color);
  border-radius: 1rem;
}
.home-analysis-head{
  font-size: 3.6rem;
  margin: 2rem 0rem 1rem 1.8rem;
}
.analysis-table{
  height: 22rem;
}
.analysis-card-home {
  width: 20rem;
  width: 30rem;
  height: auto;
  background: var(--secondary-color);
  /* border-radius: 1.5rem; */
  /* padding: 1.5rem; */
  overflow: hidden;
  /* position: relative; */
  /* box-shadow: 2px 10px 20px var(--primary-color-1); */
  border-radius: 7px;
  margin: 1rem;
  border: 2px solid var(--primary-color);
}
