.loadcase-conatiner {
  display: flex;
  gap: 10px;
  width: 100vw;
  /* flex: 1 1 20%; */
}

.case_cards_loadcase {
  height: 160px;
  width: 220px;
  border: 2px solid var(--primary-color-2);
  border-radius: 8px;
  margin: 3.5rem 0rem 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.case_cards_loadcase:hover {
  background: url(../images/case-card.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: var(--primary-color);
  border-style: solid;
  border-image: linear-gradient(to right, #00f0ff, #ff1cf7) 2;
  cursor: pointer;
}
.loadcase-table {
  flex: 1 1 20%;
  /* margin: 4rem; */
  font-size: 2rem;
}
.css-204u17-MuiDataGrid-main,
.css-rtrcn9-MuiTablePagination-root:last-child,
.css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled,
.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon,
.css-de9k3v-MuiDataGrid-selectedRowCount,
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  color: var(--primary-color);
}
.css-1kwdphh-MuiDataGrid-virtualScrollerContent {
  width: 100% !important;
}
.css-6h1dhi-MuiDataGrid-root {
  border-color: var(--primary-color-2) !important;
}
