.logo{
    height: 60px;
    width: 150px;
    margin: 15px 0px 0px 30px;
}
.nav_bar{
    display: flex;
    justify-content: space-between;
    height: 120px;
    border-bottom:  2px solid black;
}
.notification_btn{
    display: flex;
    width: 50%;
    gap: 15px;
    align-items: center;
}
.searchbar-box{
    display: flex;
    border: 1px solid #1C1C1C;
box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
border-radius: 30px;
height: 40px;
width: 400px;
}
.search-bar{
    border-radius: 0px 30px 30px 0px;
   border-top: none;
   border-bottom: none;
    width: 90.2%;
    font-size: 18px;
}
.search-bar:focus{
    outline: none;
}
.searchbar-logo{
    margin: 8px;
}