.logo {
  height: 60px;
  width: 150px;
  margin: 15px 0px 0px 30px;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  height: 110px;
  border-bottom: 2px solid black;
}

.notification_btn {
  display: flex;
  width: 50%;
  gap: 15px;
  align-items: center;
}

.searchbar-box {
  display: flex;
  border: 1px solid #1c1c1c;
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.7);
  border-radius: 30px;
  height: 40px;
  width: 480px;
  margin-bottom: 7px;

}

.search-bar {
  border-radius: 0px 30px 30px 0px;
  border-top: none;
  border-bottom: none;
  width: 92%;
  font-size: 18px;
  padding-left: 10px;
}

.search-bar:focus {
  outline: none;
}

.searchbar-logo {
  margin: 8px;
}
.container {
  display: flex;
  flex: 1 1 auto;
  height: 82vh;
}
.canvas {
  display: flex;
}

.sideNavSection {
  flex: 0 0 17%;
  display: flex;
}
.canvasSection {
  flex: 0 0 78%;
  /* border: 2px solid #1c1c1c; */
  /* padding: 10px; */
  border-radius: 1%;
  height: 100%;
}

.toolSection {
  flex: 0 0 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.case-dashboard{
  display: flex;
}
.dashboard-title, .case-no{
  font-size: 2.4rem;
}
.dashboard-cases{
  margin: 4.2rem 0rem 2rem -2rem;
  display: flex;
}
.dashboard-title{
  font-weight: 200;
}