.List {
  display: flex;
  align-items: center;
  width: 50rem;
  /* overflow: scroll; */
  justify-content: center;
  align-items: center;
}

.listItem {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* height: 7rem; */
  /* width: 36rem; */
  /* overflow-wrap: break-word;
   */
  /* overflow-x: scroll; */
  overflow-wrap: break-word;
  /* overflow: auto; */
  /* overflow-y: scroll; */
  /* width: 100%; */
  /* overflow-clip-margin: 20rem; */
  /* text-decoration: none; */
  color: inherit;
  box-sizing: border-box;
  cursor: pointer;
  padding-right: 20px;
  padding-left: 8.5rem;
  word-break: break-word;
}
.listItem::before {
  content: '*';
}

.listName {
  padding: 0px 5px;
  width: 30rem;
  word-break: break-word;
}

.listIcon {
  min-width: 25px !important;
  min-height: 25px !important;
}
