@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

.main-404 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: Hammersmith One;
  flex-direction: column;
  background-color: var(--secondary-color);
}
.oops {
  display: block;
  color: #00f0ff;
  font-size: 60px;
  white-space: pre-line;
  margin-bottom: 50px;
}
h5 {
  font-size: 48px;
  display: block;
  margin-bottom: 50px;
  color: var(--primary-color);
}
.section404 {
  height: 300px;
  width: 400px;
  /* background-image: url(../images/page404.jpeg); */
  background-size: cover;
  /* position: absolute; */
}
.error404 {
  color: #00f0ff;
  font-size: 40px;
  margin-left: 100px;
  margin-right: 10px;
  position: relative;
  top: 100px;
}
.error {
  font-size: 30px;
  position: relative;
  top: 100px;
}

.redirect-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: -5rem;
  margin-left: 150px;
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 1.4rem;
  border: 1px solid var(--secondary-color);
  filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.6));
  width: 17rem;
  height: 3.5rem;
}
