.popup {
  height: 37rem;
  width: 40%;
  background-color: white;
  position: absolute;
  top: 18%;
  right: 20%;
  border: 1px solid var(--primary-color-2);
  border-radius: 1rem;
  background-color: var(--secondary-color);
  /* transform: translate(100px,100px) !important; */
  overflow: hidden;
}
.pop-header-heading{
  margin: 2px 0px 0px 5px;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popup-header {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  background-color: var(--secondary-color);
  border-bottom: 2px solid var(--primary-color-2);
  margin-top: .7rem;
  cursor: grab;
}
.globe-popup {
  width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: flex-end;
}
.popup-link-heading {
  color: var(--primary-color--2);
}
.information-div {
  display: flex;
}
.information-popup-left {
  width: 50%;
  border-right: 2px solid var(--primary-color-2);
  background-color: var(--secondary-color);
}
.information-popup-right {
  background-color: var(--secondary-color);
  width: 50%;
  display: flex;
  align-items: center;
  padding: 0rem 2rem;
}
.popup-info {
  color: var(--primary-color-2);
  text-align: center;
  padding: .5rem;
  border-bottom: 2px solid var(--primary-color-2);
  font-size: 2rem;
}
.popup-info-head {
  color: var(--primary-color-2);
  font-size: 1.4rem;
  padding-bottom: 0.2rem;
  margin: 0rem 1rem;
  font-weight: 200;
}
.popup-head-value {
  color: var(--primary-color-1);
  font-size: 1.4rem;
  padding-bottom: 1rem;
  word-break: break-all;
  margin: 0rem 1rem;
}
.popup-head-value svg{
  display: inline !important;
}
.popup-link-value {
  font-size: 1.8rem;
  color: var(--primary-color-2);
  word-break: break-all;
}
.popup-div-btn {
  right: 8rem;
  top: 3rem;
}
.popup-btn {
  position: fixed;
  border: 1px solid var(--primary-color-2);
  color: var(--primary-color);
  right: 10rem;
  top: 14rem;
  padding: 0.7rem;
}

.restore-button {
  display: none;
}

.minimize-button,
.restore-button {
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 3rem;
 
}

.minimized {
  width: 200px;
  height: 38px;
  overflow: hidden;
  position: absolute;
  top: 59rem;
  left: 45rem;
}

.minimized .restore-button {
  display: block;
  position: absolute;
  top: 0;
  width: 75%;
  height: 100%;
  color: var(--primary-color-2);
  background-color: var(--secondary-color);
  opacity: 0;
  margin-right: 4rem;
}
.minimized .close-button{
  height: 2.1rem;
  margin-bottom: 5px;
  /* width: 2.5rem; */
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.close-button {
  display: inline-block;
  color: var(--primary-color);
  border: none;
  border: 2px solid var(--primary-color);
  padding: 0px 5px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.4rem;
  margin-right: 1rem;
}
.close-button svg{
  height: 2rem;
}
.globe-icon-popup svg{
  width: 3.5rem;
  height: 2.5rem;
  margin: 0px 0px 0px 5px;
}

.popup.minimized .pop-header-heading {
  white-space: initial;
  overflow: initial;
  text-overflow: initial;
}
