.readcase-container {
  display: flex;
  height: 87vh;
  overflow: hidden;
  /* justify-content: center;
    align-items: center; */
}
.card {
  width: 34rem;
  height: auto;
  background: var(--secondary-color);
  /* border-radius: 1.5rem; */
  /* padding: 1.5rem; */
  overflow: hidden;
  /* position: relative; */
  /* box-shadow: 2px 10px 20px var(--primary-color-1); */
  border-radius: 7px;
  margin: 1rem;
  border: 2px solid var(--primary-color);
}

.card-img-holder {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0;
}

.card-img-holder img {
  width: 100%;
  height: 20rem;
  max-height: 100rem;
  object-fit: cover;
  /* border-radius: 1.5rem; */
}

.blog-title {
  color: var(--primary-color);
  padding: 1rem 0 0.5rem 0;
  font-size: 1.8rem;
}

.description {
  padding: 0.5rem 0 5rem 0;
  color: var(--primary-color-1);
  font-size: 1.4rem;
  margin-top: -47px;
}

.blog-time {
  font-size: 0.8rem;
  color: #1976d2;
  margin-top: -57px;
  /* line-height: 1rem; */
  font-size: 1.4rem;
  font-weight: 400;
}

.options {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  gap: 1rem;
}

.options span {
  font-weight: 600;
  color: #22215b;
}

.btn {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  background-color: #e8eaf6;
  font-weight: 400;
  color: #3f51b5;
  cursor: pointer;
  height: 3.2rem;
  width: 7rem;
  border: none;
  font-weight: 600;
  margin-top: 1rem;
}
.btn-2 {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
  background-color: #ede7f6;
  font-weight: 400;
  color: #673ab7;
  cursor: pointer;
  height: 3.2rem;
  width: 7rem;
  border: none;
  font-weight: 600;
  margin-top: 1rem;
}

.play-img {
  display: flex;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  /* background-color: blue; */
  left: 220px;
  /* top: -37px; */
  bottom: 45px;
}
.caption {
  padding: 1.5rem;
}
.readcase-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem 3rem;
  margin-left: 5rem;
}
.cards-section {
  overflow-y: auto;
}
.cases {
  position: sticky;
}
