@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
.sidebar {
  z-index: 10;
  font-family: 'Inter';
  background-color: var(--secondary-color);
  font-size: 1.6rem;
  height: 84vh !important;
  overflow: auto;
  color: var(--primary-color);
  display: flex;
  width: 20vw;
}
.sidebar li {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.sidebar li:hover {
  color: black;
}
.collapse-sidebar_btn {
  border: none;
  height: 4rem;
  font-size: 3rem;
  color: var(--primary-color-2);
}
.terrorist-profiling_logo {
  height: 2.6rem;
  margin-right: 1rem;
  margin-left: -1.2rem;
}

.Terrorist-Profiling-heading {
  font-size: 1.8rem;
  font-weight: 400;
}
.css-dip3t8 {
  background-color: var(--secondary-color) !important;
}
