@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
.sidebar {
  z-index: 10;
  font-family: 'Inter';
  background-color: var(--secondary-color);
  font-size: 1.6rem;
  height: 84vh !important;
  overflow: auto;
}
.collapse-sidebar_btn {
  border: none;
  height: 4rem;
  font-size: 3rem;
}
.terrorist-profiling_logo {
  height: 2.6rem;
  margin-right: 2rem;
  margin-left: 0.8rem;
  padding-top: 0.7rem;
}

.terrorist-profiling_heading {
  font-size: 1.6rem;
  font-weight: 400;
}
