.navigation {
  color: rgb(7, 6, 6);
  border: 1px solid transparent;
  width: 3.5rem;
  border-radius: 12px;
  border-color: black;
  padding: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* gap: 0.8rem; */
  background-color: black;
}

.navigation:hover {
  border: 2px solid #00ffff;
}

nav .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
}

.btn {
  display: block;
  padding: 5px;
  margin-top: 21px;
}

/* .btn_fullscreen{
     -webkit-backdrop-filter: blur(15px); 
     backdrop-filter: blur(15px); 
    background: #fff;
    border-radius: 3rem;
    bottom: 1.5rem;
    display: block;
    gap: .8rem;
    left: 50%;
    padding: .5rem 1.1rem;
    position: absolute;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: -webkit-max-content;
    width: max-content;
    z-index: 2 */
/* } */

/* .btn{ */
/* justify-content: center; */
/* display: flex; */
/* flex-direction: column;
 margin: 5px;
 border-radius:30%;
 height: 2rem;
 width: 2rem;
 position: fixed;   
 gap: .8rem;
 background-color: black transparent;

} */
