@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* height: 100%; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .app {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
} */
.app {
  overflow: hidden;
}

.app::-webkit-scrollbar {
  display: none;
}

.node {
  transition: transform 0.3s ease-in-out;
}

.ant-menu-dark {
  background-color: #1c1c1c;
}

.ant-menu-dark > .ant-menu-sub {
  background-color: #1c1c1c;
}
